<div class="row960">
  <div id="yt_component" class="span12">
    <div class="component-inner">
      <div class="item-page">
        <div class="page-header">
          <h2>
            Стоимость постройки деревянного дома
          </h2>
        </div>

        <p style="text-align: center;"><span style="font-size: 18pt; color: #800000;">Акция!</span><span style="color: #800000;">&nbsp;</span><span style="color: #800000;"><strong style="color: #666666; font-family: 'Open Sans'; font-size: 14px; line-height: 20px; text-align: center;"><span style="font-size: 12pt; line-height: 17.12px;"><strong style="color: #800000; font-size: 14px; line-height: 20px;"><span style="font-size: 14pt;">С 1 апреля по 1 мая на все виды строительных работ скидка 5%!</span></strong></span></strong></span></p>
        <table border="2" cellspacing="15" cellpadding="10" align="left">
          <tbody>
            <tr>
              <td>
                <%= image_tag 'ceny_1.png' %>
              </td>
              <td>
                <h3>Стоимость комплекта дома из оцилиндрованного бревна:</h3>
                <div class="description_price">- от 7900 р./м<sup>2</sup>
                  <p>В комплект входит: ленточный фундамент, стеновой каркас, утепленная кровля (материал + работа).</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'ceny_2.jpg', alt: "фото нестроганного бруса" %>
              </td>
              <td>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;"><strong>Стоимость комплекта дома из нестроганого бруса:</strong></p>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;">- от 4 650 р./м2</p>
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;">В комплект входит: без фундамента, стеновой каркас, кровля под рубероид (материал + работа).</p>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'ceny_3.png', alt: "9", width: "190", height: "162"  %>
              </td>
              <td>
                <h3>Стоимость комплекта дома из сухого профилированного бруса:</h3>
                <div class="description_price">
                  <p>- от 10700 р./м<sup>2</sup></p>
                  <p>В комплект входит: ленточный фундамент, стеновой каркас, утепленная кровля (материал + работа).</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
              <%= image_tag 'ceny_4.png' %>
              </td>
              <td>
                <h3>Стоимость комплекта дома из клееного бруса:</h3>
                <p>- от 12500 р./м<sup>2</sup></p>
                <p>В комплект входит: ленточный фундамент, стеновой каркас, утепленная кровля (материал + работа).</p>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'ceny_5.png' %>
              </td>
              <td>
                <h3>Отделка деревянных домов (материал + работа):</h3>
                <p>- от 12000 р./м<sup>2</sup></p>
                <p>В комплект отделки входит: покраска дома, герметизация швов, монтаж дверных и оконных блоков, устройство полов и потолков, электричество, водоснабжение.</p>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'ceny_6.jpg', width: "296", height: "162"  %>
              </td>
              <td>
                <h3>Стоимость комплекта каркасного дома:</h3>
                <p>- базовый комплект от 10500 р./м<sup>2</sup></p>
                <p>- комплект с отделкой от 13500 р./м<sup>2</sup></p>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'ceny_7.jpg', alt: "проектирование 4", width: "308", height: "172"  %>
              </td>
              <td>
                <h3>Строительство по индивидуальному проекту:</h3>
                <p>- строительство по индивидуальному проекту от 11 800 руб.</p>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>Монтаж кровли</h2>
        <p><span style="color: #800000; font-size: 18pt;">Акция! с 1 апреля по 1 мая скидка на монтажные работы 10%!</span></p>
        <p>от 2 200 руб. за м 2 (материал+работа)</p>
        <p>
          <%= image_tag 'ceny_8.jpg', alt: "крыша 1", width: "283", height: "168"  %>
        </p>
        <p>В стоимость входит:<br>установка cтропильной системы, утепление, парогидроизоляция, монтаж обрешетки, монтаж кровельного покрытия</p>
        <h2>Фундамент</h2>
        <p><span style="font-size: 18pt; color: #800000;">Акция! с 1 апреля по 1 мая скидка на фундаменты 10%!</span></p>
        <table border="2" cellspacing="15" cellpadding="10" align="left">
          <tbody>
            <tr>
              <td>
                <%= image_tag 'ceny_9.jpg', alt: "0", width: "188", height: "172"  %>
              </td>
              <td>
                <h3>Поверхностный ленточный фундамент</h3>
                <p>Глубина основания – 200 мм</p>
                <p>Применяется при строительстве временных жилых сооружений, таких как: садовые или дачные домики, летние кухни, бани, зимние сады.</p>
                <p>Стоимость фундамента:</p>
                <p>Лента шириной 400 мм, высота цоколя 600 мм – 2600 рублей</p>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'ceny_10.jpg', width: "188", height: "172"  %>
              </td>
              <td>
                <h3>Фундамент ленточно-свайный</h3>
                <p>Глубина заложения - 1500 мм</p>
                <p>Применяется при строительстве сооружений на болотистой местности или на торфяных грунтах.</p>
                <br>
                <p>Ленточная часть используется для передачи нагрузки на сваи и ее последующего равномерного распределения.</p>
                Стоимость фундамента:за 1 м погонный (с учетом сваи. Колличество свай расчитывается индивидуально под проект) Лента шириной 400 мм, высота цоколя 600 мм – 3700 рублей</td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'ceny_11.jpg', width: "188", height: "172"  %>
                </td>
                <td>
                  <h3>Заглубленный ленточный фундамент под капитальный дом</h3>
                  Глубина заложения - 1400 мм.Применяется при возведении сооружений на влажных или промерзающих почвах, а также при возведении домов с тяжелыми стенами, подземным гаражом и подвалом.Стоимость фундамента:Лента шириной 400 мм, высота цоколя 600 мм – 7500 рублей</td>
                </tr>
                <tr>
                  <td>
                    <%= image_tag 'ceny_12.jpg', alt: "0", width: "188", height: "172"  %>
                  </td>
                  <td>
                    <h3>Свайно-винтовой фундамент</h3>
                    Глубина заложения - зависит от глубины залегания плотного грунтаПрименяется при строительстве построек на слабом грунте и на грунте с высоким уровнем водоносных слоев или с неровным рельефом. Стальные трубы, толщиной в 4 мм, имеют на одном конце литой винтовой наконечник. С помощью него сваю вкручивают в грунт до тех пор, пока винт не упрется в надежное основание.Стоимость фундамента:рассчитывается индивидуально под проект&lt;</td>
                  </tr>
                </tbody>
              </table>
              <br>
              &nbsp;
            </div>

          </div>
        </div>
</div>
