<div class="row960">
  <div class="category-name">
    <div class="page-header">
      <h2>
        Клееный проф.брус
      </h2>
    </div>
    Cамые важные преимущества этого стройматериала:
    <br><br>
    Стены отлично сохраняют тепло и обеспечивают надлежащую звукоизоляцию. Клееный брус по своим свойствам считается уникальным древесным материалом. Независимо от будущей планировки, его сложная конструкция, состоящая из нескольких слоев ламелей, обеспечивает превосходную защиту от проникновения посторонних звуков из вне.
    <br><br>
    Материал обладает высокой прочностью и долговечностью. Если Вы все еще относитесь к тому большинству, которое считает, что нет ничего прочнее кирпича, мы уверяем: Вы глубоко ошибаетесь! Кирпич и железобетон давно уступили лидерство строениям из клееной древесины. Благодаря применению новейших технологий производства такие конструкции более чем в два раза прочнее цельных. За счет этого усадка дома из данного материала не превышает 1%, что позволяет вселяться в здание сразу после строительства.
    <br><br>
    Стены, как и в конструкции из цельной древесины, обладают способностью дышать. Использование «чистого» (с экологической точки зрения) клея на водной основе, в котором уровень содержания вредных смол намного меньше, чем непосредственно в самой древесине, не нарушает способности дома из клееного бруса «дышать», а многочисленные отзывы владельцев таких жилищ подтверждают тот факт, что микроклимат в них полностью соответствует деревянным сооружениям.
    <br><br>
    Клееная древесина никогда не растрескивается. В этом плане дом из такого материала, несомненно, превосходит конструкции из массива, трещины при высыхании которого – самая большая беда! Безусловно, долгое строительство при активном солнце может сказаться на появлении небольших трещинок, однако клеевые соединения при этом останутся без повреждения. Подобное явление является нормой и никак не влияет на защитные функции материала. Чтобы избежать появления трещинок, производители рекомендуют при сборке своевременно обрабатывать древесину специальным составом.
    <br><br>
    В остальном, расклеивание на пласте абсолютно исключено!
    Проанализировав все преимущества и недостатки хотелось бы отметить, что строительство дома или бани из описанного материала – вовсе не «дорогое» приобретение! Рассматривая проект как перспективу на будущее, задайте себе главный вопрос о том, ЧТО будет с Вашим семейным «гнездышком» через несколько лет и ЧЕГО будет стоить его новый ремонт?
  </div>
  <div class="component-inner">
    <div class="item-page">
      <div class="category-name">
        <div class="page-header">
          <h2>Профилированный брус</h2>
        </div>
        <p>Профилированный брус естественной влажности сколько стоит и какие плюсы и минусы имеет:</p>

        <p>Строить дом или дачу с баней из профилированного бруса это выбор 40% покупателей. Почему так популярен этот строительный материал? Для тех, кто копил на дом или дачу годами перед строительством, важно все спланировать и выбрать пиломатериал надлежащего качества по привлекательной цене.</p>

        <p>Изготавливают профилированный брус на высокоточном оборудовании. Поэтому при правильном процессе изготовления материал получается с точными формами. Но это касается только видов изготавливаемых на крупных производствах.</p>

        <h2>Виды профилированного бруса</h2>
        <ul>Профилированный брус бывает двух видов:
          <li> Естественной влажности.</li>
          <li> Камерной сушки.</li>
        </ul>
        <p>И это совершенно разный пиломатериал с отдельными характеристиками. Если вам важно качество вашего дома, то лучше остановиться на камерной сушке или выполнить строительство дома из клееного бруса. Отзывы о каждом виде обычно объединены в одно, а это вводит в заблуждение многих покупателей.

          Попробуем разобраться:
        </p>
        <ul>
          <li>Характеристика профилированного бруса, на что делают акцент при выборе</li>
          <li>Отзыв о материале естественной влажности</li>
          <li>Отзыв о материале камерной сушки</li>
          <li>Мнение специалиста</li>
          <li>Влажность</li>
        </ul>
        <p>Большинство отрицательных отзывов касается именно материала естественной влажности. Он при высыхании будет перекручиваться, растрескается и потеряет свою геометрию.</p>

        <p>Материал камерной сушки проходит тщательную отбраковку. Еще во время сушки те звенья, которые потрескались и потеряли форму, будут отобраны. К покупателю попадает товар только качественного образца.</p>

        <p>Конечно, можно приобрести камерную сушку, но к сожалению встретить товар действительно требуемой влажности очень сложно. Обычно брус большего сечения, например 200х200 не досушивают, в итоге естественная влажность остается внутри. А гнуть и ломать такой брус будет не меньше. Второй но, это то, что структура бруса волокнистая и он впитывает всю влажность из окружающей среды. Если приобрести брус камерной сушки, который собираетесь складировать под навесом, а на улице время дождей, то уже через двое суток вы получите материал естественной влажности. Избежать этого можно приобретя зимний товар.</p>

        Качество

        <p>
          Естественная влажность может иметь хорошее качество, если производиться на крупном предприятии.
          Проходит тщательную отборку, поэтому в большинстве случаев качественный.

          Качество материала напрямую связано с выбором производителя. Если приобретать у «кустарных», то не стоит ждать  хорошего материала даже камерной сушки.</p>
          <ul>
            <li>Наличие</li>
            <li>Есть всегда</li>
            <li>На заказ</li>
            <li>Сечение больше 200х200 все сложнее приобрести больше 2 кубов. Его нужно предварительно заказывать.</li>
            <li>Профиль</li>
            <li>Несколько вариантов</li>
            <li>Чем проще профиль, тем удобнее с ним работать. Хотя считается, что профиль «гребенка» лучше, это заблуждение. Все равно со временем придется утеплять стены дополнительно.</li>
            <li>Удобство монтажа</li>
            <li>Удобен</li>
          </ul>
          <p>Строительство из профилированного пиломатериала напрямую связано с квалификацией строителей – плотников. Для самостоятельной сборки удобны только готовые комплекты.</p>

          Цена

          От 7 900 руб.

          От 10 500 руб.

          <p>Дешевым такой вариант строительства не назовешь. Особенно если это касается камерной сушки. А верить в то, что дополнительная отделка будет не нужна не стоит.

            И сухой и влажный брус изготавливают из одного вида древесины влажностью 40-50%. При просушке влажность уменьшается до 20%. Преимущества камерного бруса:

            Экологичен. Но так можно сказать о любом виде пиломатериала, кроме клееного.</p>

            <p>Минимальная усадка до 3%, практически как строительство дома из клееного бруса. Этого достаточно чтобы стена покосилась. А значит, камерная сушка требует не малых последующих вложений и тщательной обработки.

              При камерной сушке брус с повышенной сучковатостью отбраковывают. Действительно приобрести наиболее качественный товар можно у крупных производителей именно в просушенном виде.

              Строительство дома из профилированного бруса осуществимо в минимальные сроки. Строить дом, что из сухого или естественной влажности материала будут одинаковое количество времени. Просто при камерной сушке можно сразу заниматься отделкой и класть чистовую крышу.</p>

              <p>Образование трещин меньше. Да при соблюдении правильной технологии, а такого в России всего лишь 10-20% от общего количества, трещин будет меньше.

                Не нуждается в дополнительной отделки и конопатке. Это заблуждение, а вот проконопатить профилированный брус будет сложно.

                Просушенный материал имеет повышенную водостойкость и меньшую теплопроводимость. Это тоже заблуждение. Тепло действительно такие стены будут держать лучше. А вот водостойкость после камерной обработки брус не приобретет. Для этого его надо обрабатывать специальными составами. А их качество тоже зависит от цены. Вряд ли производители предпочтут дорогой вариант обработок.

                Размеры позволяют использовать этот вид бруса в постройках любой сложности. Действительно брус для строительства домов имеет сечения 150х150 или 200х200 мм, что делает его наиболее удобным в использование. Длина стандартно 2,4,6 м. Но какое отношение это имеет к влажности пиломатериала?</p>

                <h2>Срубы естественной влажности:</h2>

                <p>Дома из естественной влажности дают большую усадку, которая происходит от 1-2 лет. Это большой срок, по отзывам стены могут осесть на 10 см. Делать отделку стен такого дома сразу не стоит. Крыша и пол кладутся черновые, и зданию дают устояться от 1 года.
                  <br>
                  Удобно собирать из такого бруса дачные дома, в которые приезжают только в летнее время. Дом усядет, а переждать усадку не сложно. Цена на такой сруб ниже, чем из камерной сушки в 2 раза.
                  <br>
                  Есть еще один вариант сэкономить. Приобретя сруб из зимнего леса. Влажность такого материала не превышает 18%, а это соответствует камерной сушки. При этом зимой материал стоит дешевле, так как это не сезон для стройки.</p>
                  <h2>Срубы камерной сушки</h2>
                  <p>Дома из профилированного бруса камерной сушки собирают за 1-2 месяца. Усадка у них незначительна, поэтому отделку можно делать сразу. Особенно отличаются срубы из клееного вида. Усадка у них всего 2-5%. После сборки сруба в такой дом можно сразу заселяться, проводить систему отопления и не бояться возникновения лишнего напряжения в стенах при протопке дома.</p>
                  <p>Строят дома из профилированного бруса любой сложности. А квадратные виды сечения 200х200 и 150х150 позволяют собирать сруб быстро без дополнительных навыков.</p>
                </div>
              </div>
              <div id="yt_component" class="span12">
                <div class="component-inner">
                  <div class="item-page">
                    <div class="category-name">
                      <div class="page-header">
                        <h2>ВСЯ ПРАВДА ОБ ОЦИЛИНДРОВАННОМ БРЕВНЕ</h2>
                      </div>

                      Сруб для дома или коттеджа из оцилиндрованного бревна – мудрое решение или дань моде? Этим вопросом задается каждый второй человек, решивший отдать свое предпочтение древесине, как наиболее оптимальному материалу для строительства загородного жилья. Однако прежде чем получить ответ, необходимо осуществить детальное знакомство с данным типом строительного материала.

                      Оцилиндрованное бревно или просто оцилиндровка отличается точной формой, гладкой поверхностью и одинаковым диаметром по всей длине. Именно благодаря этим качествам срубы из оцилиндровки обладают повышенной точностью и надежностью ввиду плотного прилегания пазов друг к другу. Отдельного внимания заслуживает эстетическая сторона вопроса: оцилиндрованное бревно позволяет готовому решению (коттеджу, загородному дому или бане) демонстрировать приятный внешний вид. Строение выглядит просто и аккуратно, но в то же время дорого, так как срубы из оцилиндровки всегда являлись признаком класса и высокого статуса владельца. Однако сегодня позволить себе сруб из таких бревен могут многие, так как технология обработки древесины и подготовки материала для строительства дома или коттеджа стала заметно доступнее. Именно благодаря этому оцилиндровка становится все более популярной – все больше и больше людей отдают предпочтение этому варианту.

                      Существует несколько распространенных мифов и ошибочных мнений относительно тех или иных качеств оцилиндрованного бревна. Эти факторы мешают трезво оценить возможность использования представленного типа материала в качестве основного для возведения загородных строений. Постараемся разобраться в распространенных ошибочных суждениях, чтобы раз и навсегда разрушить эти мифы. Первый и самый распространенный из них: оцилиндрованное бревно теряет свою прочность и надежность из-за снятия верхнего слоя, следовательно, срубы прослужат гораздо меньше времени. Это мнение ошибочно хотя бы потому, что верхний слой (кора и заболонь) является слабым звеном бревна, подлежащим удалению. Он не оказывает никакого воздействия на такие параметры, как прочность, надежность и долговечность. Наоборот, после ликвидации заболони остается наиболее засмоленная часть древесины, которая оптимальная для строительства. Не стоит забывать и про специализированные составы, которыми покрывается оцилиндровка. Это тоже повышает качественные характеристики материала, из которых затем получается отличный сруб.

                      Второй миф, который необходимо развеять – невозможность эксплуатации домов из оцилиндровки в холодное время года. В этом отношении срубы из рассматриваемого нами бревна практически ничем не отличаются от других распространенных материалов, из которых возводятся загородные дома и коттеджи. Оцилиндрованное бревно используется повсеместно, как для сезонного, так и круглогодичного проживания без каких-либо ограничений. Кроме того, оцилиндровка – это натуральный материал природного происхождения, отличающийся оптимальными дышащими свойствами. Вспомните об этом преимуществе еще до того, как вы решите заказать сруб.

                      Еще одно ошибочное суждение касается повышенной пожарной опасности бревен. Разумеется, древесина хорошо горит, однако, вновь следует вспомнить специализированные составы, которым покрываются срубы. С помощью современных средств можно не только повысить долговечность дерева (об этом мы говорили выше), но и защитить материал от возгорания и воспламенения. Здесь же необходимо отметить противодействие короедам и прочим паразитам, что вновь решается с помощью специализированных пропиток. С их помощью можно защитить оцилиндрованное бревно от любых внешних факторов негативного характера.

                      На сегодняшний день оцилиндровка – оптимальный вариант материала для строительства коттеджей и загородных домов. Срубы из таких бревен отличаются прочностью, надежностью, приятным внешним видом и оптимальным дышащими свойствами. Именно поэтому вы можете смело остановить свой выбор на оцилиндровке, так как многие мифы и неверные суждения относительно представленного материала были с легкостью разрушены нами в данной статье.
                    </div>
                  </div>
                </div>
                <div id="yt_component" class="span12">
                  <div class="component-inner">
                    <div class="item-page">
                      <div class="category-name">
                        <div class="page-header">
                          <h2> Отделка парной </h2>
                        </div>

                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;"><span style="font-size: small;"><em><strong>Отделка парной</strong></em></span></p>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in; text-align: justify;">В настоящее время своя сауна под ключ, может быть построена практически в любом загородном доме или даче. Однако необходимо понимать, и помнить, что комфортность времяпровождения в парной, скорость прогрева помещения, и что не маловажно, качество пара - зависят от того, как профессионально строилась сауна с самого первого этапа. К строительству сауны в доме, необходимо подходить с большой серьёзностью, и в этом деле, конечно, не обойтись без квалифицированной помощи профессионалов. Они окажут вам качественную помощь, помогут выбрать оборудование для сауны, подходящее Вашему помещению, в зависимости от его индивидуальных особенностей.</p>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;">
                          <%= image_tag 'dush_v_parnoy.jpg', alt: 'душ в парной', width: '150', height: '200' %>
                          <%= image_tag 'parnaya.jpg', alt: 'парная', width: '300', height: '198' %>&nbsp;</p>
                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in; text-align: justify;">С помощью внутренней отделки сауна приобретает улучшенный внешний вид парного помещения. Если следовать всем правилам, то стены должны быть только из дерева, которое обеспечивает идеальные условия для комфортного парения. Потолок и стены должны отвечать высоким требованиям теплоизоляции, дабы исключить выход из помещения тепла. В связи с этим, для отделки сауны и бани используются просушенные доски тех сортов древесины, которые не искривляются от пара и плохо проводят тепло.</p>
                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;"><strong>В основном, отделка сауны или бани, включает в себя определённый вид работ:</strong></p>
                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;">• Работы по подбору и установке дымоходов;</p>
                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in; text-align: justify;">• Работы по подбору и установке печи (дровяной или электрической);</p>
                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;">• Работы по теплоизоляции и пароизоляции (возможна обшивка термозащитными материалами области, приближённой к печи);</p>
                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;">• Работы по облицовке, обшивка натуральным древом (ольха, сосна, африканский абаш, канадский кедр, липа, и др.) Подбор стройматериалов.</p>
                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;">• Работы по монтажу освещения (оптоволоконное освещение, влагостойкие и термоустойчивые светильники);</p>
                          <p style="font-family: 'Times New Roman', Times, serif; font-size: 16px; margin-bottom: 0.11in;">• Работы по установке полок, ароматерапии, цветотерапии. Помимо этого, возможна установка купели.&nbsp;</p>
                        </div>
                      </div>
                    </div>
                    <div id="yt_component" class="span12">
                      <div class="component-inner">
                        <div class="item-page">
                          <div class="category-name">
                            <div class="page-header">
                              <h2> Выбор материала для отделки парной </h2>
                            </div>
                            <p>Выбор материала для отделки парной</p>
                            <p>Насколько качественной окажется внутренняя отделка парной напрямую зависит от качества самой древесины вагонки – важно, чтобы она была хорошо просушена, обтесана, и не имела на поверхности никаких зазубрин или сучков. Можно сказать, что вагонка из лиственных пород – универсальна для банной парилки. Для нее характерна достаточно низкая теплоемкость, благодаря которой помещение быстро прогревается, но стены в то же время – не сильно нагреваются, а потому дискомфорта от соприкосновения с ними у человека не возникает.</p>
                            <p>
                              <%= image_tag 'parnaya2.jpg', alt: 'парная', width: '350', height: '233' %>
                            </p>
                            <p>Лиственница в парилке окажется самой долговечной – она прекрасно переносит привычные для бани экстремальные перепады температур и высокую влажность.</p>
                            <p>Древесина липы привлекает многим своими красивым белым цветом. Но кроме того, она влагостойка и устойчива к деформации, что тоже не менее важно. Да и нагревается из всех других пород она дольше всех, а потому ею можно обшивать и потолок, и стену возле печи – это безопасно. Кроме того, липа при жаре начинает выделять отличный аромат – ненавязчивый и приятный. Но липу обязательно предварительно обрабатывают специальными веществами – чтобы она не темнела.</p>
                            <p>Еще, что интересно, липа относится к так называемым растениям-медоносам, почему и древесина ее «дышит», прекрасно впитывает воду и обеспечивает полную звукоизоляцию. При этом в насыщенной влагой среде она не изменяет ни своего запаха, ни цвета, ни лечебных свойств.</p>
                            <p>Также осина считается почти идеальной для отделки потолка парилки. Она настолько крепка, что ею издавна пользовались при строительстве колодцев, погребов, бань и даже храмов. Если правильно заготавливать и сушить это дерево, в нем раскрываются неожиданные качества – невероятная прочность, что даже гвоздь забить нереально, абсолютная стойкость к влаге и полное отсутствие трещин. Вот почему из ее еще часто делают полы в бане.</p>
                            <p>Осина практически не подвержена гниению, и, напротив, еще и убивает все грибки плесени и брожения – когда-то ее клали в капусту, чтобы она не перекисла. А что касается влияния на здоровье человека, то и здесь у осины есть свои преимущества: она избавляет от головной боли и неприятных ощущений в суставах.</p>
                            <p>
                              <%= image_tag 'otdelka_parnoy.jpg', alt: 'отделка парной', width: '350', height: '622' %>
                            </p>
                            <p>&nbsp;</p>
                          </div>
                        </div>
                      </div>
                      <div id="yt_component" class="span12">
                        <div class="component-inner">
                          <div class="item-page">
                            <div class="category-name">
                              <div class="page-header">
                                <h2> Полы в парной </h2>
                              </div>
                              <p>Полы в парной</p>
                              <p>Что касается отделки пола, то температура на его уровне крайне редко поднимается выше 30?С, а потому такие полы даже могут быть земляными, глиняными и бетонными. Все, что им нужно – это хороший и быстрый отток воды из бани. Для отделки пола в парилке подходит и кафельная плитка, и шлифованные доски. Конечно, плитка так постоянной влаги не боится, как дерево. Сама технология отделки проста: доски кладутся на лаги максимально плотно друг к другу и крепятся саморезами. Для кафельной плитки на полу изначально делается стяжка, и поверхность хорошо выравнивается, делается водяной теплый пол. Саму же плитку укладывать нужно на специальную клеящую смесь, обрабатывая все швы специальной влагостойкой затиркой, которая не позволит влаге попасть под облицовку и образовать там плесень. В отличие от пористой гладкая основа меньше впитывает влагу и быстрее сохнет, а значит, в бане не появится грибок или плесень, да и сам материал прослужит очень долго.</p>
                              <p>
                                <%= image_tag 'tepliy_pol.jpg', alt: 'теплый пол', width: '350', height: '622' %>&nbsp;
                                <%= image_tag 'pech_v_parnoy.jpg', alt: 'печь в парной', width: '350', height: '622' %>
                              </p>
                              <p>Вывод такой: кафельный пол хорош легким уходом за ним, а деревянный – созданием общего уюта.</p>
                              <p>Современная отделка, монтаж саун предполагает сочетание русских традиций с высокими технологиями. При этом нередко разрабатываются дизайнерские решения, которые визуально расширяют пространство парной. В качестве напольного покрытия часто используется кафель, а красоту внутреннего убранства подчеркивает прекрасное освещение, которое может быть выполнено в виде световых трубок, «звездного неба» или геометрических светильников, но всё это увеличивает стоимость отделки парилки в бане или сауне.</p>
                              <p>Более подробно о работах по отделке бани или сауны, и ценах, вы можете узнать у наших специалистов.</p>


                            </div>

                          </div>
                        </div>
                        <div id="yt_component" class="span12">
                          <div class="component-inner">
                            <div class="item-page">
                              <div class="page-header">
                                <h2>Деревянное домостроение </h2>
                                </div>
                                <p style="text-align: justify;">&nbsp;</p>
                                <p style="text-align: justify;">
                                <%= image_tag 'statyi_dom.jpg', style:'margin: 6px; float: left;' %>
                                О дереве, как о строительном материале, было написано и сказано немало хороших слов. Сама природа позаботилась, чтобы постройки из дерева создавались без особых усилий, служили нам долго, радовали глаз. В современном мире наиболее отмечается такое качество древесины, как экологичность. Этот природный строительный материал наиболее идеально применим для постройки жилых домов.</p>
                                <p style="text-align: justify;">&nbsp;Издавна применялись и богатые декоративные качества древесины. Недаром на Руси из дерева строились не только хозяйственные постройки и дома простолюдинов, но и царские и боярские терема, православные храмы. И сейчас можно построить дом, который будет похож на сказочный терем из народных сказок. Для этого в качестве основного строительного материала наиболее подходит оцилиндрованное бревно.</p>
                                <p style="text-align: justify;">&nbsp;К оцилиндрованному бревну предъявляются очень высокие качественные стандарты. Дерево для такого бревна должно быть использовано только растущее, зрелое, преимущество отдается деревьям одной породы. Бревно обязательно проверяется на отсутствие механических повреждений, гнили, червоточины и на соответствие необходимым размерам.</p>
                                <p style="text-align: justify;">Способ получения оцилиндрованого бревна такой: стволы деревьев очищают от коры, обрабатывают на фрезеровочном станке, таким образом, получают тщательно обработанные цилиндры. Эти цилиндры торцуют в соответствии с размером, необходимым для конкретного дома, далее выполняются шипы, пазы и венцовые чашки (замки). После всех проделанных операций бревна подвергают обработке антисептиком.</p>
                                <p style="text-align: justify;">Диаметр оцилиндрованного бревна может варьироваться от 180мм до 320мм. Длина же такого бревна в основном стандартная и достигает 6м, больший же показатель можно достигнуть, если состыковать бревна.</p>
                                <p style="text-align: justify;">Оцилиндрованные бревна имеют настолько привлекательный внешний вид, что вызывают желание прикоснуться руками к гладкой, отшлифованной поверхности стены вновь выстроенного дома. С помощью компьютерных технологий достигается точнейшее выполнение замков и пазов, и, как следствие, плотное соединение венцов и отсутствие зазоров.</p>
                                <p style="text-align: justify;">Из таких бревен можно соорудить как небольшой домик, баню, так и роскошный дом высотой в три этажа, это может быть даже чудный по красоте русский терем с крылечками, переходами, украшенный башенками. Внутри дома можно обустроить огромную гостиную, отдельные спальни, санузлы и ванные комнаты на каждом этаже. Все достижения современной инженерии будет отлично вписываться в интерьер такого дома, так как дерево прекрасно сожительствует со всеми современными материалами. Отопление также можно выбрать исходя из ваших вкусов и возможностей — это может быть как котельная (газовая, электрическая, дизельная) так и русская печь на дровах</p>
                                <p style="text-align: justify;">Главное условие, которое необходимо соблюсти при постройке деревянного дома — за работу должны браться профессионалы, способные соблюсти традиции деревянного зодчества, и сделать это на достойном уровне. Лишь тогда ваш деревянный дом, полученный в результате их усилий, станет не только престижным вложением средств, но и наилучшим и любимым для вас местом для отдыха и работы.</p>
                                <p style="text-align: justify;">&nbsp;</p>


                              </div>

                            </div>
                          </div>
                        </div>
